{% extends "base.html" %}
{% block content %}
<h1>{{ ticket.title }}</h1>
<p>Owner: {{ ticket.owner.email }}</p>
<p>Severity: {{ ticket.severity }}</p>
<p>Status: {{ ticket.status }}</p>
<p>Description: {{ ticket.description }}</p>

<p><a href="{{ url_for('edit_ticket', ticket_id=ticket.id) }}">Edit</a></p>

<form method="POST" action="{{ url_for('change_status', ticket_id=ticket.id) }}">
<input type="hidden" name="csrf_token" value="{{ csrf_token }}">
<select name="status"><option>OPEN</option><option>IN_PROGRESS</option><option>RESOLVED</option></select>
<button>Change status</button>
</form>

{% if current_user.role == "MANAGER" %}
<form method="POST" action="{{ url_for('delete_ticket', ticket_id=ticket.id) }}">
<input type="hidden" name="csrf_token" value="{{ csrf_token }}">
<button>Delete</button>
</form>
{% endif %}
{% endblock %}
