<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Deskly</title>
</head>
<body>
    <p>
        <a href="{{ url_for('list_tickets') }}">Tickets</a>
        {% if current_user %}
            | {{ current_user.email }} ({{ current_user.role }})
            | <a href="{{ url_for('logout') }}">Logout</a>
            {% if current_user.role == "MANAGER" %}
                | <a href="{{ url_for('audit') }}">Audit</a>
            {% endif %}
        {% else %}
            | <a href="{{ url_for('login') }}">Login</a>
            | <a href="{{ url_for('register') }}">Register</a>
        {% endif %}
    </p>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for msg in messages %}
          <li>{{ msg }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
</body>
</html>
